<div class="divFormContainer">
    <form class="formAddProduct" method="POST" action="/api/productos/">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Add product name">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" name="price" class="form-control" placeholder="Add product price">
        </div>
        <div class="form-group">
            <label>Thumbnail</label>
            <input type="text" name="thumbnail" class="form-control" placeholder="Add product thumnail">
        </div>
        <br>
            <button class="btn btn-dark">Upload to API</button>
    </form> 
</div>

